/public/storage
/public/hot
/storage/*.key
/storage/framework/cache
/storage/framework/sessions
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/views-src/node_modules
/public/*.html
/public/static
/public/pics/*