<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
    <style>
        html, body, #app {
            height: 100%;
        }
        body {
            font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
            color: rgb(101, 113, 128);
        }
    </style>
</head>
<body>
    <div id="app">
    	<login-form></login-form>
    </div>
</body>
</html> 